<section class="cta-section container">
  <div class="wrapper">
    <div class="left">
      <h2 class="title">
        Ready to try <span class="font-cursive purple">Quizz?</span> Discover
        the various challenges that are waiting for you
      </h2>
      <p class="description">
        Don't miss the opportunity to play, learn and challenge yourself! Join
        now and start exploring thousands of interesting questions that not only
        sharpen your brain, but also fun!
      </p>
      <button class="btn" mat-stroked-button matTooltip="Play Quizz Now">
        Play Now
        <mat-icon fontIcon="arrow_outward"/>
      </button>
    </div>
    <div class="right">
      <img ngSrc="/images/3.png" alt="woman smile" fill priority>
    </div>
  </div>
</section>
