@use '../../../../../styles.scss' as *;

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
    .title-wrapper  {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 30px;

        &__title {
            font-size: 1.4rem;
            text-transform: capitalize;
            font-weight: bold;
        }

        &__subtitle {
            color: $gray;
            font-size: .8rem;
        }
    }
}