@use "../../../styles.scss" as *;

.hero-section {
  position: relative;
  margin-top: 70px;
  padding-top: 30px;
  padding-bottom: 40px;

  .tagline {
    max-width: 600px;
    margin: auto;

    .title {
      font-size: 3rem;
      text-align: center;
      margin-bottom: 30px;

      .font-cursive {
        font-family: cursive;
        font-style: italic;

        &.yellow {
          color: $yellow;
        }

        &.purple {
          color: $dark-purple;
        }
      }
    }

    .subtitle {
      color: $gray;
      text-align: center;
      max-width: 400px;
      margin: auto;
      margin-bottom: 50px;
    }

    .cta {
      width: 150px;
      margin: auto;

      .btn-cta {
        padding: 22px 24px;
        box-shadow: 0 0 120px $dark-purple;
      }
    }
  }

  .img-top-left {
    position: absolute;
    top: -7%;
    left: 2%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    filter: drop-shadow(0 0 70px rgba($yellow, 0.7));
  }

  .img-bottom-right {
    position: absolute;
    bottom: 10%;
    right: 2%;
    width: 140px;
    height: 132px;
  }

  .icon-grid::before {
    content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><circle cx="60" cy="60" r="15" fill="rgb(139, 93, 255)"/><circle cx="128" cy="60" r="15" fill="rgb(139, 93, 255)"/><circle cx="196" cy="60" r="15" fill="rgb(139, 93, 255)"/><circle cx="60" cy="128" r="15" fill="rgb(139, 93, 255)"/><circle cx="128" cy="128" r="15" fill="rgb(139, 93, 255)"/><circle cx="196" cy="128" r="15" fill="rgb(139, 93, 255)"/><circle cx="60" cy="196" r="15" fill="rgb(139, 93, 255)"/><circle cx="128" cy="196" r="15" fill="rgb(139, 93, 255)"/><circle cx="196" cy="196" r="15" fill="rgb(139, 93, 255)"/></svg>');
    position: absolute;
    top: -10px;
    right: 0;
    display: block;
    width: 100px;
    height: 100px;
    opacity: .8;
  }
}

@media screen and (max-width: $max-width-tablet) {
  .hero-section {
    margin-top: 10px;

    .img-top-left {
      top: 25%;
      left: 4%;
      height: 70px;
      width: 70px;
    }

    .img-bottom-right {
      bottom: 15%;
      right: 8%;
      height: 100px;
      width: 100px;
    }

    .icon-grid::before {
      width: 60px;
      height: 60px;
      right: 5%;
      top: 30%;
    }
  }
}

@media screen and (max-width: $max-width-mobile) {
  .hero-section {
    margin-top: 20px;

    .tagline {
      .subtitle {
        margin-bottom: 60px;
      }
    }

    .img-bottom-right,
    .img-top-left,
    .icon-grid::before  {
      display: none;
    }
    
  }
}
