<section class="hero-section">
  <div class="tagline">
    <h1 class="title">
      Challenge your knowledge Let's try the <span class="purple">Quizz</span> and
      sharpen your <span class="yellow">brain</span>
    </h1>
    <p class="subtitle">
      Discover thousands of fun and interactive quizz to hone your knowledge and support your growth
    </p>
    <div class="cta">
      <button mat-flat-button class="btn-cta">
        Get started
        <mat-icon fontIcon="arrow_outward"/>
      </button>
    </div>
  </div>
  <div class="img-top-left">
    <img ngSrc="/images/1.png" alt="kid happiness" fill>
  </div>
  <div class="img-bottom-right">
    <img ngSrc="/images/2.png" alt="woman bring a book" fill>
  </div>
</section>
