@use "../../../styles.scss" as *;

.testimonial-section {
  margin-top: 60px;
  background-color: $dark-purple;
  color: $gray-white;
  padding-top: 50px;
  padding-bottom: 50px;

  .subtitle {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .title {
    font-size: 2.5rem;
    text-align: center;
    line-height: 2.8rem;
    margin-bottom: 40px;
  }

  .wrapper {
    width: 100%;

    .card {
      width: 100%;
      height: 240px;
      display: flex;
      flex-direction: row;
      border: none;
      overflow: hidden;

      .left {
        position: relative;
        flex-basis: 30%;
        background-color: $yellow;

        .img {
          position: absolute;
          width: 200px;
          height: 280px;
        }

        .img::before {
          content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><circle cx="60" cy="60" r="17" fill="rgb(139, 93, 255)"/><circle cx="128" cy="60" r="17" fill="rgb(139, 93, 255)"/><circle cx="196" cy="60" r="17" fill="rgb(139, 93, 255)"/><circle cx="60" cy="128" r="17" fill="rgb(139, 93, 255)"/><circle cx="128" cy="128" r="17" fill="rgb(139, 93, 255)"/><circle cx="196" cy="128" r="17" fill="rgb(139, 93, 255)"/><circle cx="60" cy="196" r="17" fill="rgb(139, 93, 255)"/><circle cx="128" cy="196" r="17" fill="rgb(139, 93, 255)"/><circle cx="196" cy="196" r="17" fill="rgb(139, 93, 255)"/></svg>');
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .right {
        flex: 1 1;
        padding: 20px;
        color: $black;

        .testimoni-name {
            font-size: 2.125rem;
            font-weight: bold;
        }

        .testimoni-job {
            color: $dark-purple;
            margin-bottom: 20px;
        }

        .testimoni-description {
            line-height: 1.5rem;
            margin-bottom: 20px;
        }

        .testimoni-rating {
            display: flex;
            gap: 3px;
            color: $yellow;
        }
      }
    }

    .wrapper-indicator {
        margin-top: 20px;
        display: flex;
        gap: 10px;
        justify-content: center;

        .indicator {
            all: unset;
            width: 40px;
            height: 7px;
            border-radius: 3px;
            background-color: $gray-white;
            opacity: 60%;
            cursor: pointer;

            &.active {
                opacity: 1;
                cursor: auto;
            }
        }
    }
  }
}


@media screen and (max-width: $max-width-tablet) {
    .testimonial-section {
        padding-top: 60px;
        padding-bottom: 60px;
        .wrapper {
            .card {
                height: 265px;
            }
        }
    }
}

@media screen and (max-width: $max-width-mobile) {
    .testimonial-section {
        .title {
            margin-bottom: 80px;
        }
        .wrapper {
            .card {
                flex-direction: column;
                height: auto;
                overflow: visible;

                .left {
                    flex-basis: 30px;
                    border-top-left-radius: inherit;
                    border-top-right-radius: inherit;
                    .img {
                        height: 110px;
                        width: 80px;
                        top: -80px;
                        filter: drop-shadow(0 0 10px rgba($gray-white, .5));
                    }

                    .img::before {
                        display: none;
                    }
                }
            }
        }
    }
}