<mat-stepper #stepper linear class="stepper-container" [orientation]="stepperOrientation">
  <mat-step>
    <ng-template matStepLabel>Fill identity or setup quiz</ng-template>
    <ng-template matStepContent>
      <quiz-form-app (eventSubmitForm)="onHandleQuizSubmitForm($event)"/>
    </ng-template>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input
          matInput
          formControlName="secondCtrl"
          placeholder="Ex. 1 Main St, New York, NY"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button class="btn-admin" mat-flat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-stepper>
