<mat-stepper
  #stepper
  linear
  class="stepper-container"
  [orientation]="stepperOrientation"
>
  <mat-step editable="false" [completed]="formQuizData">
    <ng-template matStepLabel>Setup quiz</ng-template>
    <ng-template matStepContent>
      <form-quiz-app (eventSubmitForm)="onQuizSubmitFormHandler($event)" />
    </ng-template>
  </mat-step>
  <mat-step editable="false" [completed]="formQuestionData">
    <ng-template matStepLabel>Setup questions</ng-template>
    <ng-template matStepContent>
      <form-question-app
        [totalQuestion]="totalQuestion"
        [typeQuiz]="typeQuiz"
        (eventSubmitForm)="onQuestionSubmitFormHandler($event)"
      />
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <ng-template matStepContent>
      <div class="summary-wrapper">
        <mat-icon fontIcon="check_circle" class="summary-wrapper__icon" />
        <h3 class="summary-wrapper__title">Successfully Setup Quiz</h3>
      </div>
      @if(formQuizData) {
      <div class="summary-setup-quiz-wrapper">
        <ul class="summary-setup-quiz-wrapper__list">
          <li class="summary-setup-quiz-wrapper__list-item">
            Title: {{ formQuizData.title }}
          </li>
          <li class="summary-setup-quiz-wrapper__list-item">
            Description: {{ formQuizData.description }}
          </li>
          <li class="summary-setup-quiz-wrapper__list-item">
            Timer: {{ formQuizData.timer }}
          </li>
        </ul>
        <mat-divider />
        <ul class="summary-setup-quiz-wrapper__list">
          <li class="summary-setup-quiz-wrapper__list-item">
            Total question: {{ totalQuestion }}
          </li>
          <li class="summary-setup-quiz-wrapper__list-item">
            Type quiz: {{ typeQuiz }}
          </li>
        </ul>
      </div>
      }
      <div class="summary-action">
        <button
          type="button"
          class="btn-admin"
          mat-flat-button
          matTooltip="Reset quiz to step 1"
          (click)="onResetSetupQuizHandler()"
        >
          <mat-icon fontIcon="close" />
          Reset
        </button>
        <button
          type="button"
          class="btn-admin"
          mat-flat-button
          matTooltip="Save quiz"
          (click)="onSubmitHandler()"
        >
          <mat-icon fontIcon="save" />
          Save
        </button>
      </div>
    </ng-template>
  </mat-step>
</mat-stepper>
