/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

// Colors
$dark-purple: #8b5dff;
$purple: #ac8df9;
$white: #ffffff;
$gray-white: #f7f7f7;
$gray: #a0a0a0;
$yellow: #f9b822;
$black: #111111;

// Breakpoints
$max-width-tablet: 769px;
$max-width-mobile: 500px;

:root {
  @include mat.button-overrides(
    (
      filled-container-color: $dark-purple,
      filled-label-text-color: $white,
      filled-label-text-font: 'Nunito',
      outlined-label-text-color: $dark-purple,
      outlined-outline-color: $dark-purple,
      outlined-state-layer-color: $dark-purple,
      outlined-label-text-font: 'Nunito',
      outlined-ripple-color: rgba($purple, .2),
      protected-label-text-color: $dark-purple,
      protected-label-text-font: 'Nunito',
      protected-ripple-color: rgba($purple, .2),
      protected-state-layer-color: $purple,
    )
  );

  @include mat.form-field-overrides((
    outlined-caret-color: $dark-purple,
    outlined-focus-label-text-color: $dark-purple,
    outlined-focus-outline-color: $dark-purple,
    outlined-label-text-font: 'Nunito'
  ));

  @include mat.checkbox-overrides((
    label-text-color: $black,
    selected-icon-color: $dark-purple,
    selected-focus-icon-color: $dark-purple,
    selected-hover-icon-color: $dark-purple,
    selected-focus-state-layer-color: $dark-purple
  ));

  @include mat.snack-bar-overrides((
    container-color: #f2edff,
    supporting-text-color: $dark-purple,
    button-color: $dark-purple,
    supporting-text-font: 'Nunito'
  ));

  @include mat.menu-overrides((
    container-color: $gray-white,
    item-hover-state-layer-color: rgba($purple, .3),
    item-icon-color: $black,
    item-label-text-font: 'Nunito',
    item-label-text-size: .8rem,
  ))
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: $gray-white;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Nunito", "Helvetica Neue", sans-serif;
}

.container {
  max-width: 850px;
  margin: auto;
}

.font-cursive {
  font-family: cursive;
  font-style: italic;
}

.yellow {
  color: $yellow;
}

.purple {
  color: $dark-purple;
}

.btn {
  padding: 22px 24px;
}

.btn-admin {
  font-size: .9rem;
  padding: 20px 22px;
  border-radius: 12px;
}

.animate-pulse {
  animation: pulse .8s linear infinite;
}

@media screen and (max-width: $max-width-tablet) {
  .container {
    padding: 0 30px;
  }
}

@keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 50%;
  }
}
